    <% provide(:title, 'About Us') %>
</br>
</br>

    <h1>About Game Reviews</h1>
    <p>
      This is a ruby project for Web Server programming and I am building a site where people can leave reviews on their favourite games.
    </p>