<% if !logged_in? %>
<div class="row">
<div class="jumbotron">
    </br>
    </br>
</br>
 </br>
    </br>
</br> </br>
    </br>
</br>
    <h1>Please sign in if you would like to add games</h1>
    <p>Hashtag hoodie mumblecore selfies. Authentic keffiyeh leggings Kickstarter, narwhal jean shorts XOXO Vice Austin cardigan. Organic drinking vinegar freegan pickled.</p>
   </p>
  </div>
<% end %>
    </br>
</br>


  <% @games.each do |game| %>
 
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag game.image.url, class: 'image'), game %>
      </div>
    </div>
  <% end %>
</div>